[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
token_2022 = "GnGzNdsQMxMpJfMeqnkGPsvHm8kwaDidiKjNU2dCVZop"
ccm_hook = "8VE2Wt5JNusGUCwkrpVmdwgdgyD6vYPEHop2g2CAArzS"

[programs.mainnet]
token_2022 = "GnGzNdsQMxMpJfMeqnkGPsvHm8kwaDidiKjNU2dCVZop"
ccm_hook = "8VE2Wt5JNusGUCwkrpVmdwgdgyD6vYPEHop2g2CAArzS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -t 1000000 tests/**/*.ts"
