SOLANA_RPC=https://api.devnet.solana.com
PROGRAM_ID=D2YdzzJ6i2YeapNbZg2zdqJDotr2Hjb7yMQRJdttaAtf
MINT_PUBKEY=94bxLGeqoSCBLwnLKdbj7bDNYqx2NyyCsYr5N174JGg1
KEYPAIR_PATH=$HOME/.config/solana/id.json
MINT_AUTHORITY_KEYPAIR=$HOME/.config/solana/id.json
CLS_STREAMER_NAME=test-cls
EPOCH_ID=424245
GATEWAY_URL=http://127.0.0.1:5000
CSV=scripts/claims.csv
CHANNEL=test-cls
