[workspace]
members = ["token-2022"]
resolver = "2"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1


[patch.crates-io]
base64ct = { path = "vendor/base64ct-1.5.3" }
